<h2>修改帳號<%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    <%= f.input :school, label: "學校", hint: "請填寫學校全名以利查核，如：國立清華大學", required: true %>
    <%= f.input :department, label: "系所", hint: "請填寫系所全名以利查核，如：工業工程與工程管理學系", required: true %>
    <%= f.input :system, label: "學制", collection: ["大學部", "碩士班", "博士班"], required: true, prompt: "請選擇學制" %>
    <%= f.input :grade, label: "年級", collection: 1..10, required: true, prompt: "請選擇年級" %>
    <%= f.association :skills, label: "相關專長", as: :check_boxes, required: true, hint: "請至少選擇一項相關專長以定位您在隊伍中的角色" %>
    <%= f.input :experience, label: "相關經歷", as: :text, hint: "描述您曾參與過相關競賽與成果" %>
    <%= f.input :course, label: "相關課程", as: :text, hint: "您曾經參與過的課程" %>
    <%= f.input :phone, label: "聯絡電話（市話）", required: true, as: :tel %>
    <%= f.input :cell_phone, label: "聯絡電話（手機）", required: true %>
    <%= f.input :address, label: "地址", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "送出修改" %>
  </div>
<% end %>
