<h2>申請帳號</h2>
<hr />

<%= simple_form_for(resource, as: resource_name,
                        url: registration_path(resource_name),
                        html: { class: "form-horizontal" },
                        :wrapper => :horizontal_form,
                        :wrapper_mappings => { check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean} ) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: "信箱", required: true, autofocus: true %>
    <%= f.input :password, required: true, label: "密碼", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: "驗證密碼", required: true %>
    <%= f.input :name, label: "真實姓名", required: true %>
    <%= f.input :nation, label: "國籍", collection: ["中華民國（台灣）籍", "外國籍"], required: true, prompt: "請選擇國籍" %>
    <%= f.input :identity, label: "身分證字號", required: true %>
    <%= f.input :birthday, label: "生日", as: :date, start_year: Date.today.year - 40,
                              end_year: Date.today.year - 12,
                              order: [:year, :month, :day] %>
    <%= f.input :gender, label: "性別", collection: [:male, :female], prompt: "請選擇", required: true %>
    <%= f.association :skills, label: "技能", as: :check_boxes %>
    <%= f.input :school, label: "學校", as: :text %>
    <%= f.input :department, label: "系所", as: :text %>
    <%= f.input :grade, label: "年級", collection: 1..4, required: true, prompt: "請選擇年級" %>
    <%= f.input :experience, label: "相關經歷", as: :text, hint: "描述您曾參與過相關競賽與成果" %>
    <%= f.input :course, label: "相關課程", as: :text, hint: "您曾經參與過的課程" %>
    <%= f.input :phone, label: "聯絡電話（市話）", required: true, as: :tel %>
    <%= f.input :cell_phone, label: "聯絡電話（手機）", required: true %>
    <%= f.input :address, label: "地址", required: true %>
    <%= f.input :has_job_bank, label: "是否擁有1111人力銀行帳號嗎?", as: :radio_buttons, required: true %>
    <%= f.input :agree_job_bank, label: "是否同意同步建立1111人力銀行帳號", as: :radio_buttons %>
    <%= f.input :password_job_bank, label: "1111人力銀行帳號密碼" %>
  </div>

  <hr />

  <div class="form-group text optional">
    <label class="text optional col-sm-1 control-label" for="course_description"></label>
    <div class="col-sm-11">
      <%= link_to "取消" , :back, :class => "btn btn-lg btn-warning" %>
      <%= f.submit "送出申請" , :class => "btn btn-lg btn-danger" %>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".user_agree_job_bank").hide();
    $(".user_password_job_bank").hide();

    $("#user_has_job_bank_false").change(function() {
      $(".user_agree_job_bank").show();
    })
    $("#user_has_job_bank_true").change(function() {
      $(".user_agree_job_bank").hide();
      $(".user_password_job_bank").hide();
    })

    $("#user_agree_job_bank_true").change(function() {
      $(".user_password_job_bank").show();
    })
    $("#user_agree_job_bank_false").change(function() {
      $(".user_password_job_bank").hide();
    })
  })
</script>
