<h1>使用者帳號內容</h1>

姓名：<%= @user.name %><br />
電子信箱：<%= @user.email %><br />
國籍：<%= @user.nation %><br />
身分證字號：<%= @user.identity %><br />
出生日期：<%= @user.birthday %>
性別：<%= @user.gender %><br />
技能：<%= @user.skills.inspect %><br />
經歷：<%= @user.experience %><br />
課程：<%= @user.course %><br />
電話號碼(市話)<%= @user.phone %><br />
手機號碼<%= @user.cell_phone %><br />
地址：<%= @user.address %><br />
