<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label "學校" %>
      <%= f.search_field :school_cont, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :系所單位 %>
      <%= f.search_field :department_cont, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :年級 %>
      <%= f.select :grade_eq, options_for_select(1..10, params[:q] ? params[:q][:grade_eq] : nil),
            {prompt: "年級"}, class: "form-control" %>
    </div>
  </div>

  <div class="adv-search hidden">
    <div class="form-group">
      <%= f.search_field :name_cont, class: "form-control", placeholder: "人名..." %>
    </div>

    <div class="form-group">
      <%= f.search_field :skills_name_cont, class: "form-control", placeholder: "技能..." %>
    </div>

    <div class="form-group">
      <%= f.search_field :experience_cont, class: "form-control", placeholder: "相關經驗..." %>
    </div>
  </div>

  <div class="btn-group" role="group">
    <button type="button" name="button" class="btn btn-info adv-btn">展開進階搜尋</button>
    <%= f.submit "搜尋", class: "btn btn-default" %>
  </div>
<% end %>

<script>
  $('.adv-btn').on('click', function (arguments) {
    var advSearch = $('.adv-search');
    advSearch.toggleClass('hidden');
    if (advSearch.hasClass('hidden')) {
      $(this).text("展開進階選項");
    } else {
      $(this).text('收起進階選項');
    }
  });
</script>
