<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :學校 %>
      <%= f.search_field :school_cont, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :系所 %>
      <%= f.search_field :department_cont, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :學制 %>
      <%= f.select :system_eq, options_for_select(["大學部", "碩士班", "博士班"], params[:q] ? params[:q][:system_eq] : nil),
            {prompt: "年級"}, class: "form-control" %>
    </div>
  </div>

  <div class="adv-search hidden">
    <div class="form-group">
      <%= f.select :courses_title_cont,
            options_for_select(Course.pluck(:title), params[:q] ? params[:q][:courses_name_cont] : nil) %>

      <%= f.select :skills_name_cont,
            options_for_select(Skill.pluck(:name), params[:q] ? params[:q][:skills_name_cont] : nil) %>
    </div>


    <div class="form-group">
      <%= f.search_field :experience_cont, class: "form-control", placeholder: "相關經驗..." %>
    </div>
  </div>

  <div class="btn-group" role="group">
    <button type="button" name="button" class="btn btn-info adv-btn">展開進階搜尋</button>
    <%= f.submit "搜尋", class: "btn btn-default" %>
  </div>
<% end %>

<script>
  var storeToggleState = function(advSearch) {
    localStorage.setItem('advSearch', advSearch.is( ":visible" ));
    console.log(localStorage.getItem('advSearch'))
  }

  $('.adv-btn').on('click', function (arguments) {
    var advSearch = $('.adv-search');
    advSearch.toggleClass('hidden');
    if (advSearch.hasClass('hidden')) {
      $(this).text("展開進階選項");
    } else {
      $(this).text('收起進階選項');
    }

    storeToggleState(advSearch);
  });

  if (localStorage.getItem('advSearch') === "true") {
    console.log("default true");
    var advSearch = $('.adv-search');
    advSearch.toggleClass('hidden');
  }
</script>
