<% if @users.blank? %>
  <br />
  <div class="alert alert-warning" role="alert">目前尚無進入媒合階段的使用者</div>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名字</th>
        <th>學校</th>
        <th>系所</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= hide_full_name user %>
        </td>
        <td>
          <%= user.school %>
        </td>
        <td>
          <%= user.department %>
        </td>
        <td>
          <%= link_to "詳細資訊", user_path(user) %>
        </td>
      </tr>
    <% end %>
  </table>

  <center>
    <%= will_paginate @users, previous_label: "上一頁", next_label: "下一頁",renderer: BootstrapPagination::Rails %>
  </center>
<% end %>
