<h1>
  <%= @user.name %>
  <%= link_to "我想認識他", meet_user_path, class:"btn btn-success btn-lg pull-right" %>
</h1>

<p>
  單位: <br />
  (學校+科系+等級別+日夜別+年級)<br /><br />
  相關專長:<br />
  <%=
      @user.skills.each do |skill|
        skill
      end
  %><br ><br />
  相關經歷:<br />
  <%= @user.experience %><br ><br />
  相關課程:<br />
  <%= @user.course %><br ><br />
  參與BDC課程: <br >
  狀態: temp <br />
</p>
