<h1>
  <%= @user.name %>
  <% if current_user.ustatus.eql? Ustatus.find_by(name: "完成報名但未組隊") and @user != current_user %>
    <%= link_to "我想認識他", meet_user_path, class:"btn btn-success btn-lg pull-right" %>
  <% end %>
</h1>

<hr />

<p>
  學校: <%= @user.school %><br />
  科系: <%= @user.department %><br />
  年級: <%= @user.grade %><br />

  相關專長:<br />
  <%=
      @user.skills.each do |skill|
        skill
      end
  %><br ><br />

  相關經歷:<br />
  <%= @user.experience %><br ><br />
  相關課程:<br />
  <%= @user.course %><br ><br />
  參與BDC課程: <br >
  狀態: <%= @user.ustatus.name %><br />
</p>
