<h3>修改隊伍資訊</h3>

<hr>
<%= simple_form_for @group do |f| %>
  <%= f.input :software %>
  <%= f.input :tryout_file %>
  <%= f.input :preliminary_file %>
  <%= f.input :final_file %>
  <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-primary"%>
<% end %>
