<h2>
  隊伍名稱：<%= @group.title %>
  <small>
    <%= @group.gstatus.name %>
    <%= link_to "修改隊伍資訊", '/group/edit', class: 'btn btn-default pull-right' %>
  </small>
</h2>
<p><%= @group.gstatus.note %></p>
<hr />

<div class="row">
  <div class="col-md-6">
    <h3>指導老師：</h3>
    <% if @group.teachers %>
      <% @group.teachers.each do |teacher| %>
        姓名：<p><%= teacher.name %></p>
        單位/名稱：<p><%= teacher.title %></p>
        email：<p><%= teacher.email %></p>
      <% end %>
    <% end %>
    <% if @group.gstatus.name.eql? '通過初賽資格審核' %>
      <h3>初賽</h3>
      遠端IP/帳號/密碼：<%= @group.tryout_ip %>, <%= @group.tryout_account %>, <%= @group.tryout_password %>
      保留資料路徑：<%= @group.tryout_file %>
    <% end %>
    <% if @group.gstatus.name.eql? '通過複賽資格審核' %>
      <h3>複賽</h3>
      遠端IP/帳號/密碼：<%= @group.preliminary_ip %>, <%= @group.preliminary_account %>, <%= @group.preliminary_password %>
      保留資料路徑：<%= @group.preliminary_file %>
    <% end %>
    <% if @group.gstatus.name.eql? '晉級決賽' %>
      <h3>決賽</h3>
      遠端IP/帳號/密碼：<%= @group.final_ip %>, <%= @group.final_account %>, <%= @group.final_password %>
      保留資料路徑：<%= @group.final_file %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>業師：</h3>
    <% if @group.mentors %>
      <% @group.mentors.each do |mentor| %>
        姓名：<p><%= mentor.name %></p>
        單位/名稱：<p><%= mentor.title %></p>
        email：<p><%= mentor.email %></p>
      <% end %>
    <% end %>
  </div>
</div>

<hr />

<h3>隊員名單</h3>
<%= render 'users/table', object: @users %>
