<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Hosts</th>
      <th>Schooltime</th>
      <th>Total hour</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.title %></td>
        <td><%= course.hosts %></td>
        <td><%= course.schooltime %></td>
        <td><%= course.total_hour %></td>
        <td><%= link_to '進入課程', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
