<h1>課程列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>課號</th>
      <th>課程名稱</th>
      <th>主辦單位</th>
      <th>上課時間</th>
      <th>總時數</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.title %></td>
        <td><%= course.hosts %></td>
        <td><%= course.schooltime %></td>
        <td><%= course.total_hour %></td>
        <td><%= link_to '進入課程', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
